# Rust
/target/
**/*.rs.bk

# Sherwood
/dist/
## Exclude .sherwood release dir
.sherwood/
!.sherwood/
.sherwood/*
!.sherwood/release/
.sherwood/release/*
## ...but include the sherwood generate binary
!.sherwood/release/generate

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
